*

!.gitignore
!README.md

!assets/
!assets/**

!profile-3d-contrib/
!profile-3d-contrib/**

!*.svg
!.github/
!.github/**
!scripts/
!scripts/**
!data/
!data/**
!source-photo.jpg

*.psd
*.fig
*.ai
*.xd
*.sketch
*.xcf
*.aep
*.blend
*.afdesign
*.afphoto
*.afpub

*.tmp
*.temp
*.bak
*.log
.DS_Store
Thumbs.db